{% extends 'news/base.html' %}
{% load static %}

{% block title%} Foydalanuvchi parolini tiklash {% endblock title %}

{% block content %}
    <h1>Parolni tiklash</h1>
    <p>Iltimos parolingizni o'zgartirish uchun quyidagi formani to'ldiring : </p>
    {% if validlink %}
      <p>Iltimos yangi parolni ikki marta kiriting !</p>

      <form method="post">{% csrf_token %}
          {{form.as_p}}
          <p><button type="submit">Parolni tiklash</button></p>
      </form>
    {% else %}
      <p>Siz notog'ri linkdan foydalandingiz , u avvalroq ishlatilgan bo'lishi yoki vaqti o'tib ketgan bo'lishi mumkin !</p>
    {% endif %}
{% endblock content %}