{%extends 'news/base.html'%}
{%load static%}

{%block title%} Foydalanuvchi profili {%endblock title%}
{%block content%}
    <h3>Xush kelibsiz , {{user.username}}</h3>
    <h3><a href="{%url 'logout'%}" class="text-danger">Saytdan chiqish</a></h3>
    <h2>Sizning ma'lumotlaringiz :</h2>
    <img src="{{profile.photo.url}}" width="20%">
    <p>
    <label>Username: </label> <input value="{{user.username}}"  readonly placeholder="Noma'lum"><br>
    <label>Tug'ilgan kun : </label> <input value="{{profile.date_of_birth}}"  readonly placeholder="Noma'lum"><br>
    <label>Email : </label> <input value="{{user.email}}"  readonly placeholder="Noma'lum"><br>
    <label>Ism : </label> <input value="{{user.first_name}}"  readonly placeholder="Noma'lum"><br>
    <label>Familiya : </label> <input value="{{user.last_name}}" readonly placeholder="Noma'lum"><br>
    <h4><a href="{%url 'password_change'%}" style="color : red">Parolni almashtirish</a> |
    <a href="{% url 'edit_user'%}" style="color : red">Profilni sozlash</a></h4>
    </p>
{%endblock%}